.project-container{
    width: 100%;
    background-color: #040005;
background-image: url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom:var(--spacing-md) ;}
/* -------------------------------------------------------- */
.cards-container {
  width: 100%;
  display: flex;
flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}


/* -------------------------------------------------------- */
.project-card-container{
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;
    width: 100%;
    margin-bottom: var(--spacing-xxl);
}
/* -------------------------------------------------------- */
.projects-collaborations{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: var(--spacing-md);
    color: rgb(255, 255, 255);
}
.projects-recent{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    margin-bottom: var(--spacing-md);
    color: var(--secondary-color)
}
.projects-title {
    font-size: var(--spacing-md);
    color:var(--secondary-color);
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
  }

/* -------------------------------------------------------- */
  .card {
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-top: var(--spacing-md);
    transition: transform 0.9s ease;

    max-width: 400px;

  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  .card-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
  }
  .project-description-container{
    display: flex;
    text-align: left;
    min-height: 120px;
  }
  /* -------------------------------------------------------- */
  .card img {
    height: auto;
    min-height: 300px;
    width: 400px;
    border-radius: 8px;
    object-fit: cover;
  }
  /* -------------------------------------------------------- */
  .card p {
    margin: 0;
    font-size: 16px;
    color: #c9c9c9;
  }
  /* -------------------------------------------------------- */
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
  }
  .button {
    background-color:none;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 12px 24px;
    margin-bottom: var(--spacing-sm);
    margin-left: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .button:hover {
    background-color: var(--secondary-color);
  }
  /* -------------------------------------------------------- */
  .chips-container-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
    position: sticky;
    top: 3rem;
    z-index: 99999;
  }
  .chips-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);

    
  }
  .chip {
    background-color: #e6e6e600;
    border: 2px solid var(--secondary-color);
    color:rgb(255, 255, 255);
    font-size: 12px;
    font-weight: bold;
    border-radius: 50px;
    padding: 6px 12px;
    margin-right: 8px;
    cursor: pointer;
  } 
  .chip-top {
    background-color: #e6e6e6;
    border: 2px solid var(--secondary-color);
    color:rgb(0, 0, 0);
    font-size: var(--spacing-sm);
    font-weight: bold;
    border-radius: 9px;
    padding: 6px 18px;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
  } 
  .chip-top.active {
    background-color: #000000;
    color: #ffffff;
    border: 4px solid var(--secondary-color);
  }

  @media only screen and (min-width: 600px) {
  
    .chip-top {
      background-color: #e6e6e6;
      border: 2px solid var(--secondary-color);
      color:rgb(0, 0, 0);
      font-size: var(--spacing-sm);
      font-weight: bold;
      border-radius: 9px;
      padding: 12px 24px;
      margin-right: 8px;
      margin-bottom: 8px;
      cursor: pointer;
    } 
  }