.contact-container-form{
    width: 100%;
    min-height: calc(100vh - 6rem);
    background-color: var(--tertiary-color); 
    color: azure;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
    padding-top: var(--spacing-md);

    margin-bottom: 3rem;

}
.contact-button-container{
    width: 100%;
    height: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
}

.button-send-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px !important;
    padding: 1.5rem !important;

    background-color: black !important;
    border: 3px solid var(--secondary-color) !important;

    color: white !important;

}
.button-send-contact:hover {
    background-color: rgb(61, 61, 61) !important;
    color: rgb(255, 255, 255) !important;
}

.contact-me{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: var(--secondary-color);
}

h4{
    font-size: 20px;
}
.contactme-list{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;

}
.contactme-feelfree{
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .contact-container-form{
      max-width: var(--width-sm);
    }
    .contactme-list{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 300px;
    
    }
  }