@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.footer-container{
    height: 30rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Orbitron', sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;



    padding-left: 1rem;
    padding-right: 1rem;

  }


